<div class="container">
    <div class="form-section">
        <div class="form-header">
            <h2>Add A Student</h2>
        </div>
        <form action="">
            <div class="field">
                <label for="studentname">Student Name</label><br>
                <input id="studentname" name="studentname" #newstudentname [(ngModel)]="studentname">
            </div>
            <pre></pre>
            <div class="field">
                <label for="balance">Student balance</label><br>
                <input id="balance" name="balance" #newbalance [(ngModel)]="balance">
            </div><br>
            <button type="submit" (click)="addStudent(newstudentname.value, +newbalance.value)">Add A Student</button>
        </form>
    </div>
    <div class="results-section">
        <div class="results-header">
            <h3>Student Name</h3>
            <h3>Balance</h3>
        </div>
        <pre></pre>
        <div class="sudents-buttons">
            <button>Get All Students</button>
            <button>Get Students With Balance</button>
            <button>Get Student W/O Balance</button>
        </div>
        <div class="datadisplay" *ngFor="let student of studentsData">
            <p>{{student.studentname}}</p>
            <p>{{student.balance | currency}}</p>
        </div>
    </div>
</div>