<div class="container">
    <div class="form-section">
        <div class="form-header">
            <h2>Add A Student</h2>
        </div>
        <form action="">

        </form>
    </div>
    <div class="results-section">
        <div class="results-header">
            <h2>Student Name</h2>
            <h2>Balance</h2>
        </div>
        <div class="sudents-buttons">
            <button>Get All Students</button>
            <button>Get Students With Balance</button>
            <button>Get Student W/O Balance</button>
        </div>
    </div>
</div>