.nav {
    width: 100%;
    display: flex;
    /* justify-content: space; */
    border-bottom: solid coral 1px;
    box-shadow: 10px 10px 30px -25px;
}

img {
    height: 80px;
}
h1 {
    text-align: center;
    margin-left: 30%;
    color:coral;
}